@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.sidebar-wrapper {
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  .sidebar-header-wrapper {
    display: flex;
    flex-direction: column;
    .navbar-name  {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      
    }
  }
    .pro-item-content {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
    }
}

// .sidebar-header-wrapper {
//   // display: flex;
//   // align-items: center;
//   text-decoration: none;
//   span {
//     text-transform: uppercase;
//     color: #fff;
//     font-weight: bold;
//   }
// }

// .sidebar-btn-wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .sidebar-btn {
//     transition: width 0.3s;
//     width: 150px;
//     padding: 1px 5px;
//     border-radius: 40px;
//     background: rgba(255, 255, 255, 0.05);
//     color: #adadad;
//     text-decoration: none;
//     margin: 0 auto;
//     height: 35px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     span {
//       margin-left: 5px;
//       font-size: 13px;
//     }
//     &:hover {
//       color: #dee2ec;
//     }
//   }
// }