$bg-img: url("../../assets/bgForInput.png");
.ldt-container {
  height: 100vh;
  background-image: $bg-img;
  display: flex;
  justify-content: space-around;
  .ldt-left {
    display: flex;
    flex-direction: column;
    .ldt__img {
      width: 300px;
      height: 300px;
    }
    .ldt__desc {
      font-size: 40px;
      font-weight: bold;
    }
  }
  .ldt-right {
    margin-top: 60px;
    width: 60%;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
}
